@model BusinessLogic.ProductQuantity

<dl class="row">
    <dt class="col-sm-2">
        <label asp-for="Product.Id"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Product.Id
    </dd>
    <dt class="col-sm-2">
        <label asp-for="Product.Name"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Product.Name
    </dd>
    <dt class="col-sm-2">
        <label asp-for="Product.ProductCategory"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Product.ProductCategory
    </dd>
    <dt class="col-sm-2">
        <label asp-for="Quantity"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Quantity
    </dd>
    <dt class="col-sm-2">
        <label asp-for="Product.UnitOfMeasure"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Product.UnitOfMeasure
    </dd>
</dl>
