@model IEnumerable<BusinessLogic.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Available Products</h1>
<br />

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus-circle"></i> Add new product to the database</a>
</p>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            @*<th>
                <label asp-for="First().Id"></label>
            </th>*@
            <th>
                <label asp-for="First().Name"></label>
            </th>
            <th>
                <label asp-for="First().ProductCategory"></label>
            </th>
            <th>
                <label asp-for="First().UnitOfMeasure"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var product in Model) {
        <tr>
            @*<td>
                @product.Id
            </td>*@
            <td>
                @product.Name
            </td>
            <td>
                @product.ProductCategory
            </td>
            <td>
                @product.UnitOfMeasure
            </td>
            <td>
               <div class="w-75 btn-group" role="group">
                        <a asp-controller="AvailableProducts" asp-action="Edit" asp-route-id="@product.Id"
                        class="btn btn-primary mx-1"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="AvailableProducts" asp-action="Details" asp-route-id="@product.Id"
                        class="btn btn-success mx-1"> <i class="bi bi-card-list"></i> Details</a>
                        <a asp-controller="AvailableProducts" asp-action="Delete" asp-route-id="@product.Id"
                        class="btn btn-danger mx-1"> <i class="bi bi-trash-fill"></i> Delete</a>
					</div>
            </td>
        </tr>
}
    </tbody>
</table>
